.startGame{
    height: 37px;
    width: 200px;
    background-color: rgb(109, 104, 104,0.8);
    margin: auto;
    text-align: center;
    padding-top: 8px;
    border-radius: 10px;
    top: 400px;
    position: absolute;
    margin-left: 350px;
    font-size: 30px;
}
.startGame:hover{
    border: 2px solid rgb(109, 104, 104);
    background-color: red;
}
#Top{
    height: 90px;
    width: auto;
    /* background-color: blue; */
    font-size: 70px;
    color: white;
    text-align: center;
    padding-top: 15px;  
}
#body{
    width: 900px;
    height: 480px;
    margin: auto;
    margin-top: 20px;
    background-color:rgb(255, 255, 255,0.6);
    padding-top: 10px;

}
body{
    background-image: url("../images/soccer-stadium.jpg");
    background-size: 100% 100%;
}
.hide{
    display: none;
}
.answer{
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    background-color: rgba(0, 0, 255, 0.795);
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
}
.questionDiv{
    width: 700px;
    height: 90px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
    background-color: rgba(255, 251, 0, 0.7);
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
}
.playerResult{
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    /* background-color: rgba(0, 0, 255, 0.795); */
    text-align: center;
    border-radius: 30px;
    font-size: 30px;
}
.actualResult{
    width: 500px;
    height: 80px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 35px;
    background-color: rgba(255, 251, 0, 0.7);
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
}
.timerDiv{
    width: 500px;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    /* background-color: blue; */
    text-align: center;
    border-radius: 30px;
    font-size: 30px;
}
.answer:hover{
    background-color: rgba(255, 0, 0, 0.801);  
}
.messageResult{
    height: 58px;
    width: 700px;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    background-color: rgb(165, 42, 42,0.8);
    font-size: 50px;

}
.correctResult,.wrongResult,.notansweredResult{
    height: 50px;
    width: 250px;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;

}